pkgbase = todo-bin
	pkgdesc = Interactive keyboard-driven TUI todo list manager with 10 color themes, 30 completion animations, timer notifications, and persistent JSON storage
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/nirabyte/todo
	arch = x86_64
	license = unknown
	provides = todo
	conflicts = todo
	source = todo::https://github.com/nirabyte/todo/releases/download/v1.0/todo
	sha256sums = 105a5221033e3b7ecad62b07fe938f1cd344c731a0291a6545edbab18a5cb9f0

pkgname = todo-bin
